body {
  font-family: Arial, sans-serif;
  font-size: 10;
  margin: 0;
  padding: 0;
  background-color: #ecfaf9;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 12pt;
}

label {
  color: #484848;
}
